<div class="main">
  <h1>2018 - 2019 SEASON: THEME</h1>

  <div class="col-container upcoming">
    <div class="col c-1">
      <img src="../assets/images/tout-pirates.jpg" alt="The Pirates of Penzance">
    </div>
    <div class="col c-2">
      <div class="about">
      <h2>UPCOMING PERFORMANCE:<br>PIRATES OF PENZANCE</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In porta tincidunt lorem facilisis eleifend. Phasellus dictum aliquam erat in dictum. Aliquam eu ullamcorper purus, nec pellentesque velit. Cras ac orci vitae lectus molestie suscipit. Suspendisse ac pellentesque lectus, sit amet ultricies magna. Quisque finibus, nisi ac tristique maximus, libero libero dictum nulla, non blandit dolor erat et libero.</p>
      <a href="#" class="cta">LEARN MORE</a>
    </div>
  </div>

  <div class="col-container welcome">
    <div class="col c-1">
      <h3>WELCOME TO THE SALTBOX THEATRE COLLECTIVE</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In porta tincidunt lorem facilisis eleifend. Phasellus dictum aliquam erat in dictum. Aliquam eu ullamcorper purus, nec pellentesque velit. Cras ac orci vitae lectus molestie suscipit. Suspendisse ac pellentesque lectus, sit amet ultricies magna. Quisque finibus, nisi ac tristique maximus, libero libero dictum nulla, non blandit dolor erat et libero.</p>
      <a href="#" class="cta">LEARN MORE</a>
    </div>
    <div class="col c-2">
        <img src="../assets/images/tout-masks.jpg" alt="Masks">
    </div>
  </div>
</div>

<div class="support">
  <div class="content">
    <h2>SUPPORT THE SALTBOX</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In porta tincidunt lorem facilisis eleifend. Phasellus dictum aliquam erat in dictum. Aliquam eu ullamcorper purus, nec pellentesque velit. Cras ac orci vitae lectus molestie suscipit. Suspendisse ac pellentesque lectus, sit amet ultricies magna. Quisque finibus, nisi ac tristique maximus, libero libero dictum nulla, non blandit dolor erat et libero.</p>
    <a href="#" class="cta">LEARN MORE</a>
  </div>
</div>

<div class="col-container past-performances">
  <div class="col">
    <div class="icon"></div>
    <div class="overlay">PAST PERFORMANCES</div>
  </div>
  <div class="col">
    <div class="icon"></div>
    <div class="overlay"></div>
  </div>
  <div class="col">
    <div class="icon"></div>
    <div class="overlay"></div>
  </div>
</div>
