h1 {
  text-align: center;
}

.main {
  padding: 110px 0 0 0;
}

h1 {
  margin: 0 auto 70px auto;
}

h2 {
  margin-bottom: 25px;
}

p {
  margin-bottom: 25px;
}

.content {
  padding-top: 35px;
}

.cta {
  margin-bottom: 40px;
}

.upcoming {
  border-bottom: 1px solid #333;
  padding-bottom: 70px;
  margin-bottom: 50px;
}

.welcome {
  border-bottom: 1px solid #333;
  padding-bottom: 50px;
  margin-bottom: 50px;
}

.col-container.past-performances {
  margin: 0;
  justify-content: space-between;
  padding: 60px 0 50px 0;
}

.tout {
  position: relative;
  cursor: pointer;
  flex-basis: 32%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(33, 103, 152, 0.7);
  height: 0px;
  width: 0px;
  opacity: 0;
  transition: height 0.2s ease-in-out, width 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.overlay h3 {
  color: #fff;
  font-size: 33px;
  line-height: 53px;  
  text-align: center;
  position: relative;
  top: 50%;
  margin-top: -25%;
}

.tout:hover .overlay {
  opacity: 1;
  height: 100%;
  width: 100%;
}

.tout:hover .icon {
  opacity: 0;
  height: 100%;
  width: 100%;
}

.icon {
  opacity: 1;
  height: 50px;
  width: 50px;
  background-image: url('../../assets/images/corner-plus.png');
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  transition: height 0.2s ease-in-out, width 0.2s ease-in-out, opacity 0.1s ease-in-out;
}

.tout img {
  display: block;
  width: 100%;
}
