<nav #nav>
  <div class="inner">
    <div class="col-container">
      <div class="col nav-left">
        <a class="active" href="/">
          HOME
          <span class="bg"></span>
        </a>
        <a href="/performances">
          PERFORMANCES
          <span class="bg"></span>
        </a>
        <a href="/about">
          ABOUT
          <span class="bg"></span>
        </a>
      </div>
      <div class="col nav-center">
        <img class="logo" src="../assets/images/saltbox-theatre-collective-logo.svg" alt="Saltbox Theatre Collective">
      </div>
      <div class=" col nav-right">
        <a href="/donate">
          DONATE
          <span class="bg"></span>
        </a>
        <a href="/contact">
          CONTACT
          <span class="bg"></span>
        </a>
        <a href="/archive">
          ARCHIVE
          <span class="bg"></span>
        </a>
      </div>
    </div>
  </div>
</nav>
