nav {
  width: 100%;
  position: fixed;
  top:0;
  height:130px;
  background-image: url('../../assets/images/nav-bg.png');
  background-repeat: repeat-y;
  background-size: 100% 100%;
}

.col-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.col {
  flex-basis: 33%;
  display: flex;
  justify-content: space-between;
}

.col.nav-center {
  justify-content: center;
}

a {
  font-family: Lato, sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 50px;
  letter-spacing: 0.5px;
  text-align: center;
  font-weight: 300;
  text-decoration: none;
  position: relative;
  flex-basis: 33%;
}

a.active {
  font-weight: 600;
}

a.active .bg {
  display:inline-block;
  width:100%;
  height:40px;
  background-color: #005d95;
  transform: skewX(-20deg);
  position: absolute;
  top: 5px;
  left: 0;
  z-index:-1;
}

.logo {
  /* display: block; */
  /* max-width: 360px; */
  /* margin:25px auto 0 auto; */
}

nav.on {
  border-bottom: 2px solid red;
  height: 60px;
}

nav.on .logo {
  max-width: 360px;
}

.col-container {
  border: 1px solid purple;
}
.col {
  border: 1px solid yellowgreen;
}
a {
  border: 1px solid cyan;
}
a:hover{
  background-color:rgba(255,0,0,.2);
}
