<footer>
  <div class="row">
    <div class="inner">
      <div class="col-container">
        <div class="col">
          <div class="contact">
            <h5>CONTACT</h5>
            <p>Founder: Brian Fruits</p>
            <p>Email: <a href="mailto:info@saltboxtheatre.org">Info@Saltboxtheatre.org</a></p>
          </div>
          <div class="credits">
            <h5>Original Site &amp; Logo Design by <a href="mooreisbetter.com">Amy Moore</a></h5>
          </div>
        </div>
        <div class="col">
          <div class="footer-nav">
            <h5>NAVIGATION</h5>
            <ul>
              <li>
                <a href="/">Home</a>
              </li>
              <li>
                <a href="/performances">Performances</a>
              </li>
              <li>
                <a href="/about">About</a>
              </li>
              <li>
                <a href="/donate">Donate</a>
              </li>
              <li>
                <a href="/contact">Contact</a>
              </li>
              <li>
                <a href="/archive">Archive</a>
              </li>
              <li>
                <a href="/press">Press</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col">
          <div class="footer-calendar">
            <h5>CALENDAR</h5>
            <p class="small">(PLACEHOLDER)</p>
            <img src="../assets/images/calendar-placeholder.jpg" alt="Calendar Placeholder">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row info">
    <div class="inner">
      <div class="col-container">
        <div class="col">
          <h6>Copyright &#169; 2018 Saltbox Theatre Collective. All rights reserved</h6>
        </div>
        <div class="col">
          <img class="footer-logo" src="../assets/images/saltbox-theatre-collective-logo.svg" alt="Saltbox Theatre Collective">
        </div>
      </div>
    </div>
  </div>
</footer>
