footer {
  background-color: #131313;
  padding-top: 20px;
}

h5 {
  margin-bottom: 7px;
}

h5, p {
  color: #fff;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #5089b1;
}

.col-container {
  align-items: flex-start;
  justify-content: space-between;
}

.contact {
  margin-bottom: 30px;
}

.contact a,
.credits a {
  text-decoration: underline;
}

.contact a:hover,
.credits a:hover {
  text-decoration: none;
}

.footer-nav h5,
.footer-nav li {
  text-align: center;
}

.footer-nav li {
  margin-bottom: 8px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-calendar h5,
.footer-calendar p {
  text-align: center;
  margin-bottom: 5px;
}

.info {
  background-color: #2c2c2c;
  padding: 15px 0;
}

.info .col-container {
  align-items: center;
}

h6 {
  color: #525252;
}

.logo-container {
  display: flex;
  justify-content: flex-end;
}

.footer-logo {
  max-width: 180px;
}

/* Temporary for the "placeholder" label */
.small {
  font-size: 10px;
  line-height: 10px;
  font-style: italic;
}
