.support {
  height: 400px;
  background-image: url('../../assets/images/support.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px 0 70px 0;
  width: 100%;
}

.col-container {
  justify-content: flex-end;
}

.content {
  flex-basis: 40%;
}

h2, p {
  color: #fff;
  margin-bottom: 20px;
}

.cta {
  background-color: #005d95;
  color: #fff;
}

.cta:hover {
  background-color: #fff;
  color: #005d95;
}
