@font-face {
  font-family: 'Cinzel Regular';
  src: url('./assets/fonts/Cinzel-Regular.otf');
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
}

image {
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Cinzel Regular, serif;
  color: #160a0b;
  font-weight: 400;
}

p {
  font-family: Lato, sans-serif;
  color: #160a0b;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.5px;
  font-weight: 400;
}

h1 {
  font-size: 65px;
  line-height: 71px;
  letter-spacing: 1.5px;
}

h2 {
  font-size: 34px;
  line-height: 38px;
  letter-spacing: 1px;
}

h3 {
  font-size: 26px;
  line-height: 30px;
  letter-spacing: 1px;
}

h4 {
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 1px;
}

h5 {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 1px;
}

h6 {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 1px;
}

.cta {
  display: inline-block;
  font-family: 'Cinzel Regular';
  font-size: 22px;
  line-height: 50px;
  letter-spacing: 1px;
  color: #005d95;
  background-color: transparent;
  padding: 0px 30px;
  text-align: center;
  border: 1px solid #005d95;
  border-radius: 18px;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  text-decoration: none;
}

.cta:hover {
  background-color: #005d95;
  color: #fff;
}

.col-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  width: 100%;
  margin: 0 25px;
}

.col {
  width: 50%;
}

.c-1 {
  margin-right: 30px;
}
